*{
  padding: 0;
  margin: 0;
}


body{
  background-color:   #F7eac9;
}


.navA ul{ 
  display: flex!important;
  margin-left: 700px;
}

li{ list-style: none !important;
  
}



.navbar{
  background-color: #5c5346 !important;
  height: 37px;
  font-weight: 600;
  
}

.one { background-color: rgb(238, 167, 0) !important;
  position:relative;}

#navbarSupportedContent a{
  justify-content: space-between;
  text-decoration: none !important;
  padding: 15px;
  color: rgb(238, 167, 0);
  font-family: Arial, Helvetica, sans-serif;

}
.NavImg{
  height: 100px;
  margin-top: -40px;
  width: 1388px;
  margin-left: -42px; 
}

h1{
  position: absolute;
  margin-top: -42px;
  font-size: 35px;
  padding-left: 10px;
  color: whitesmoke;
  text-shadow: 1px 1px black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.NavImg{
  height: 100px;
  margin-top: -40px;
  width: 1388px;
  margin-left: -42px; 
}
.one{ background-color: rgb(238, 167, 0);
  position:relative;}

  
  h2{
    margin-top: 30pxs;
      text-align: center;
      font-size: 50px;
  color: rgb(238, 167, 0) !important;
  text-shadow: 0.9px 0.9px rgb(80, 80, 80) !important;

      
      
  }
  /* .container{
      background-color: rgba(0,0,0,0.783);
      color:white; */
  
  .card-body{
    padding-top: 20px;
    padding-bottom: 20px;
      background-color: rgba(238,167,0);
      width: 80%;
      border-style: solid;
      border-radius: 5px;
      margin: auto;
      margin-top: 50px;
      border-color: lightgrey;
      color:white;
      height:500px;
      height:auto!important;
      min-height:380px;
  }
  .question1{
      border-style:solid;
      border-color:rgba(0,0,0,0.783);
      padding:5px;
      background-color:black ;
      font-size: 20px;
  }
  .question2{
      border-style:solid;
      border-color:rgba(0,0,0,0.783);
      padding:5px;
      background-color: black;
      font-size: 20px;
  }.question3{
      border-style:solid;
      border-color:rgba(0,0,0,0.783);
      padding:5px;
      background-color: black;
      font-size: 20px;
  }.question4{
      border-style:solid;
      border-color:rgba(0,0,0,0.783);
      padding:5px;
      background-color: black;
      font-size: 20px;
  }.question5{
      border-style:solid;
      border-color:rgba(0,0,0,0.783);
      padding:5px;
      background-color: black;
      font-size: 20px;
  }
  


  .Footlink ul{ 
    display: flex !important;
    margin-left: 260px;
    

}

.Footlink a {
    text-decoration: none;
    padding: 20px;
    color: rgb(238, 167, 0);
    font-size: 18px;

    
}
 section i {
    color: rgb(238, 167, 0);
 }
  
footer{
    background-color:  #5c5346!important;
    margin-top: 40px;
}

.copy{
    font-weight: 500 !important;
    color: rgb(238, 167, 0);
}

h4{ 
  position: relative;
  font-size: 22px;
  color: rgb(238, 167, 0);
  text-align: center;
  text-shadow: 1px 1px black;}
  
  a{
      text-decoration: none;
  }


  
  
  /* Style the links inside the navigation bar */

  
 