*{
    padding: 0;
    margin: 0;
}
body{ background-color: #F7eac9;
    color: white;
}

.navbar{
    background-color: #5c5346;
    height: 37px;
    font-weight: 600;
}

.navA ul{ 
    display: flex!important;
    margin-left: 700px;

    
}

li{ list-style: none !important;
    
}


#navbarSupportedContent a{
    justify-content: space-between;
    text-decoration: none !important;
    padding: 15px;
    color: rgb(238, 167, 0) !important;
    font-family: Arial, Helvetica, sans-serif;

}



#chart_div1{
    margin-top: auto;
    background-color: transparent !important;
}

.NavImg{
    height: 100px !important;
    margin-top: -40px !important;
    width: 100% !important;

}
.one { background-color: rgb(238, 167, 0) !important;
    position:relative !important;}

h1{
    position: absolute;
    margin-top: -42px;
    font-size: 35px;
    padding-left: 10px;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

#ImageB{
    height: 560px;
    width: 100%;
    position: absolute;
    
}
.d-block{
    width: 1387px;
    height: 550px;}

#Hed1{
    position: relative;
    color: black;
    font-weight: 700 !important;
    font-size: 47px !important;
    text-shadow: 1px 1px white;
    padding-top: 60px;
    margin-left: 200px
}

.Par1{
    position: relative;
    padding-bottom: 190px;
    font-size: 21px;
    width: 80%;
    padding-left: 40px;
    text-align: center;
    font-weight: 600;
    color: rgb(238, 167, 0);
    text-shadow: 0.2px 0.2px black;
    

}

p span{color: black !important;
font-size: 27px !important;
font-weight: 600 !important;}

.MainH1{
    font-family: 'Times New Roman', Times, serif;
    margin: 30px auto;
    color: rgb(238, 167, 0);
    text-align: center;
    max-width: 70%;
    position: relative;
    

  }

  .MainH1 h3{
    border-bottom: 2px solid black;
    font-size: 50px !important;
    text-shadow: 1px 1px black;
  }

  .MainH1 h2{
    border-bottom: 2px solid black;
    font-size: 50px !important;
    text-shadow: 1px 1px black;
  }

 section i {
    color: rgb(238, 167, 0);
    
 }
  
footer{
    height: 100%;
    background-color: #5c5346 !important;
    
}


h4{ 
position: relative;
font-size: 22px;
color: rgb(238, 167, 0);
text-align: center;
text-shadow: 1px 1px black;}

a{
    text-decoration: none;
}

.ChartP {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    margin: auto;
    text-align: justify;
}

.ChartP p{
    color: black;
}